services:
  db:
    image: mysql:9.5
    container_name: mengampus-db
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mengampus_mysql:/var/lib/mysql

volumes:
  mengampus_mysql:
